################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayGo.vcxproj.user
/PlayGo.vcxproj.filters
/PlayGo.vcxproj
/PlayGo.sln
/.vs/PlayGo/v16
/.vs
/Debug
/x64/Debug
